.infobox {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid $light-grey;
  box-shadow: $primary-shadow;
}

img {
  margin-bottom: 30px;
}