header {
  display: flex;
  flex-direction: column;
}


.pre-header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 15px;
}


.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 15px 15px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 240px;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
  box-shadow: $primary-shadow;

  &.isOpen {
    transform: translateX(0);
  }
}

.pre-header {
  display: none;
}

.menu-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 15px;
}


.menu-nav {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px;

  a {
    display: block;
    text-transform: uppercase;
    margin: 5px 0;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5px 0;
  }

  li>i {
    margin-right: 5px;
  }
}

.menu-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}