header {
  flex-direction: column;
  border-bottom: 1px solid $light-grey;
}

.logo {
  a {
    margin: 0;
    padding: 0;
  }
}

.pre-header {
  display: flex;
  justify-content: flex-end;
  padding: 5px 30px;
}


.main-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.hamburger {
  display: none;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  position: static;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: none;
  z-index: auto;
  box-shadow: none;

  &.isOpen {
    transform: none;
  }
}

.menu-header {
  display: none;
}


.menu-cell {
  &:first-child {
    flex: 1;
  }

  &:last-child {
    display: none;
  }
}

.menu-nav {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  a {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 5px 0;
    color: map($text, main);
    text-decoration: none;
    padding-bottom: 10px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: map($background, corporate);
      transform: scaleX(0);
      transition: transform .25s ease-out;
    }

    &:hover:before {
      transform: scaleX(1);
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    border-bottom: none;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  li>i {
    margin-right: 5px;
  }
}

.menu-footer {
  display: flex;
  justify-content: unset;
  padding: 0;
}