@import '../../functionals/includes.scss';

@import '/00_default.scss';

@media (max-width: ($sm - 1)) {
  @import './01_xs.scss';
}

@media (min-width: $sm) {
  @import './02_sm.scss';
}

@media (min-width: $md) {
  @import './03_md.scss';
}

@media (min-width: $lg) {
  @import './04_lg.scss';
}

@media (min-width: $xl) {
  @import './05_xl.scss';
}