/**
 * Given an image name this mixin returns a path
 * for the relative image.
 *
 * @param $image the name of the image to link.
 */
@function image-path($image) {
  @return "#{$image-path}/#{$image}";
}

/**
 * Given a font name this mixin returns a path
 * for the relative font.
 *
 * @param $font the name of the font to link.
 */
@function font-path($font) {
  @return "#{$fonts-path}/#{$font}";
}

// Sass function that gets the rem value based on the px value that has been passed in
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

/**
 * Given an image name this mixin returns an url clause
 * for the relative image.
 *
 * @param $image the name of the image to link.
 */
@function image-url($image) {
  @return url(image-path($image));
}


@function map($map, $key) {
  @if not map-has-key($map, $key) {
    @warn "Key `#{$key}` not found in $map map.";
  }

  @return map-get($map, $key);
}