/**
 * Grid
 */
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1600px;


/**
 * Bootstrap overrides
 */
$grid-breakpoints: (xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl) !default;

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1610px);


/**
 * Fonts
 */
$fallback-fonts : sans-serif;
$primary-font: 'Noto Sans',
$fallback-fonts;
$secondary-font: 'Maven Pro',
$fallback-fonts;
$icomoon-font-family: "ic" !default;
$icomoon-font-path: "../../assets/fonts" !default;


/**
 * Colors
 */
$corporate: #02918d;
$black : #000;
$white : #FFF;
$grey: #929292;
$light-grey: #e4e4e4;
$dark-grey: #383737;
$error: #ec3108;
$success: #2fc52f;
$warning: #f1b812;


/**
 * Shadows
 */
$primary-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);


/**
 * Maps
 */
$text : (corporate: $corporate,
  main : $dark-grey,
  reverse : $white,
  error : $error,
  success : $success,
  disabled : $grey,
);

$background : (corporate: $corporate);

// $border : (corporate: $corporate,
//   default : $grey,
//   light : $light-grey,
//   dark: $dark-grey;
//   error : $error,
//   success : $success,
//   tertiary : $grey);

// $button : (corporate: $corporate,
//   main : $dark-grey,
//   reverse : $white,
//   error : $error,
//   success : $success);


// BASELINES - VERTICAL GRID
$baseline : (small : 7px,
  medium : 9px,
  large : 10px,
  xlarge : 16px);