
<template>
  <footer>
    <div class="container top">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1 col-right-divider">
          <div class="row">
            <div class="col-12 col-lg-6">
              <ul>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>gioggioloqquo</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <ul>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
                <li>
                  <NuxtLink :to="$i18n.path('')" class exact>{{ $t('nav.home') }}</NuxtLink>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <h4 class="text-center">Scarica l'app</h4>
          <p
            class="text-center"
          >Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>InfinityCar©2019. - Tutti i diritti riservati - P.I. 04805570969</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import 'assets/styles/components/footer/includes.scss';
</style>

