
<template>
  <header>
    <div class="pre-header"></div>
    <div class="main-nav">
      <button class="hamburger" aria-label="Menu" @click="toggle">
        <i class="icon-hamburger"></i>
      </button>
      <div class="menu" :class="{ isOpen: isOpen }">
        <div class="menu-cell">
          <div class="menu-header">
            <button aria-label="Close Menu" @click="toggle">
              <i class="icon-close"></i>
            </button>
          </div>
          <nav class="menu-nav">
            <div class="logo d-none d-lg-block">
              <NuxtLink @click.native="toggle" :to="$i18n.path('')" class exact>
                <img alt="infinityCar" src="~/static/svg/logotype.svg" width="240px">
              </NuxtLink>
            </div>
            <ul>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('')"
                  class
                  exact
                >{{ $t('nav.home') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('scrapping')"
                  class
                  exact
                >{{ $t('nav.scrapping') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('webuy')"
                  class
                  exact
                >{{ $t('nav.webuy') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('parts')"
                  class
                  exact
                >{{ $t('nav.parts') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('assurance')"
                  class
                  exact
                >{{ $t('nav.assurance') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('app')"
                  class
                  exact
                >{{ $t('nav.app') }}</NuxtLink>
              </li>
              <li>
                <i class="d-flex d-lg-none icon-tick"></i>
                <NuxtLink
                  @click.native="toggle"
                  :to="$i18n.path('login')"
                  class
                  exact
                >{{ $t('nav.login') }}</NuxtLink>
              </li>
            </ul>
          </nav>
        </div>
        <div class="menu-cell">
          <div class="menu-footer">
            <NuxtLink
              v-if="$i18n.locale === 'it'"
              :to="`/en` + $route.fullPath"
              class="Header__Link"
              active-class="none"
              exact
            >
              {{ $t('nav.it') }}
              <svg-icon name="flag-it" width="20" height="20" title desc/>
            </NuxtLink>

            <NuxtLink
              v-else
              :to="$route.fullPath.replace(/^\/[^\/]+/, '')"
              class="Header__Link"
              active-class="none"
              exact
            >
              {{ $t('nav.en') }}
              <svg-icon name="flag-gb" width="20" height="20" title desc/>
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  data: () => ({
    openerText: 'Open',
    isOpen: false
    // menu: ['Home', 'Work', 'Contact'],
    // smallMenu: ['Tips', 'Resources', 'Shenanigans']
  }),
  methods: {
    open() {
      this.openerText = 'Close';
      this.isOpen = true;
    },
    close() {
      this.openerText = 'Open';
      this.isOpen = false;
    },
    toggle() {
      if (this.isOpen) {
        this.close();
      } else {
        this.open();
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import 'assets/styles/components/header/includes.scss';
</style>

