<template functional>
  <div class="infobox" :class="props.cssClass">
    <i class="icon-tick"></i>
    <h4>{{ props.title }}</h4>
    <h5>{{ props.subtitle }}</h5>
    <p>{{ props.text }}</p>
  </div>
</template>

<script>
export default {
  name: 'InfoBox',
  props: {
    title: {
      required: true,
      type: String
    },
    subtitle: {
      required: true,
      type: String
    },
    text: {
      required: true,
      type: String
    },
    cssclass: {
      required: true,
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import 'assets/styles/components/infobox/includes.scss';
</style>