@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jws3m9') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jws3m9') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jws3m9##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tick {
  &:before {
    content: $icon-tick;
  }
}

.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}