ul {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  border: none;
  line-height: 1;
  cursor: pointer;
  outline-color: transparent;

  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: orangered;
    outline-offset: 5px;
    transition: outline-color .1s linear;
  }
}