html,
body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
  font-family: $primary-font;
}

p {
  margin: 10px 0;
  line-height: 1.75em
}

h1,
.h1-like {
  font-family: $secondary-font;
  line-height: 1.75em;
}

h2,
.h2-like {
  font-family: $secondary-font;
  line-height: 1.5;
}

h3,
.h3-like {
  font-family: $secondary-font;
}

h4,
.h4-like {
  font-family: $secondary-font;
}

a {
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}