<template>
  <div class="xxx">
    <Header/>
    <main class="container">
      <Nuxt/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/Header.vue';
import Footer from '~/components/Footer.vue';

export default {
  layout: 'layout',
  components: {
    Header,
    Footer
  }
};
</script>

<style lang="scss" scoped>
// @import 'assets/styles/components/header/includes.scss';
</style>
