<template>
  <div class="Content">
    <div class="container row">
      <div class="col-12">
        <h1 class="Content__Title">{{ $t('about.title') }}</h1>
        <p>{{ $t('about.introduction') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'layout',
  head() {
    return { 
      title: this.$t('about.title'),
      
    };
  }
};
</script>