<template>
  <section>
    <div class="c-wrap">
      <div class="header row">
        <h1 class="col">{{ $t('home.title') }}</h1>
        <p class="col">{{ $t('home.introduction') }}</p>
      </div>
    </div>
    <div class="c-wrap">
      <ul class="row justify-content-center">
        <li
          v-for="(item, index) in home.attributes.infobox"
          v-bind:key="index"
          class="d-flex col-md col-sm-12 text-center justify-content-center"
        >
          <InfoBox
            cssclass="centered"
            :title="item.title"
            :subtitle="item.subtitle"
            :text="item.text"
          />
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col" v-html="home.html"></div>
    </div>
  </section>
</template>


<script>
import InfoBox from '@/components/InfoBox.vue';

export default {
  layout: 'layout',

  components: {
    InfoBox
  },

  head() {
    return { title: this.$t('home.title') };
  },

  async asyncData({ store, $axios }) {
    try {
      const locale = store.app.i18n._vm.locale;
      const home = await import(`~/content/pages/${locale}/home.md`);

      // const ip = await $axios.$get(
      //   'https://jsonplaceholder.typicode.com/todos/1'
      // );
      return {
        home
      };
    } catch (err) {
      // eslint-disable-next-line no-console
      console.error('error:', err);
      return false;
    }
  }
};
</script>
